.App {
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}
.navbar {
  background-color: #ff0000 !important;
}

.float-right {
  float: right;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  margin: 0.2rem;
}
